@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --color-primary: oklch(13% 0 100);
    --color-primary-hover: oklch(28% 0 100);

    --color-secondary: oklch(92% 0 0);
    --color-secondary-hover: oklch(95% 0 0);

    --color-color-100: oklch(96% 0 360);
    --color-color-200: oklch(13% 0 100);

    --color-ghost: oklch(92% 0 0);
    --color-background: oklch(13% 0 100);

    --color-dialog: oklch(75.51% 0.001 360 / 50.27%);
    --color-modal: oklch(99.7% 0.001 360);

    --color-border: oklch(93.55% 0.001 360);

    --color-red: oklch(67% 0.2343 13);
    --color-red-hover: oklch(81% 0.2343 13);
    --color-blue: oklch(62% 0.22 250);
    --color-blue-hover: oklch(76% 0.22 250);
    --color-green: oklch(86% 0.32 147);
    --color-green-hover: oklch(100% 0.32 147);
    --color-yellow: oklch(87% 0.2 90);
    --color-yellow-hover: oklch(100% 0.2 90);
}

@layer base {
    .story-container {
        @apply w-11/12 h-full mx-auto flex items-center flex-wrap gap-5 text-center;
    }
}
